/* From Uiverse.io by Yaya12085 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #1D1616 !important;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin-left: 35%;

    background: rgba( 29, 22, 22, 0.05 );
box-shadow: 0 8px 32px 0 rgba(243, 81, 81, 0.37);
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .title {
    text-align: center;
    font-family: Major Mono Display;
    font-size: 23px;
    color: #D84040 !important; 
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #D84040 !important;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #D84040;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: #EEEEEE !important;
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    font-family: Major Mono Display;
    font-weight: bold;
    color: #D84040 !important;
  }
  
  .signin a:hover {
    text-decoration: underline #D84040 !important;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 90%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #D84040;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }

  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: #D84040 !important;
  }
  
  .submit {
    border: none;
    font-family: Major Mono Display;
    outline: none;
    background-color: #D84040 !important;
    padding: 10px;
    border-radius: 10px;
    color: #EEEEEE !important;
    font-size: 16px;
    margin-top: 20px;
    width: 96%;
    transform: .3s ease;
    cursor: pointer;
    transition: all 1s ease;
  }
  
  .submit:hover {
    background-color: #8E1616!important;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }